@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

/* html,
body {
  max-width: 100svw;
  overflow-x: hidden;
} */

body {
  @apply bg-white text-zinc-800 dark:bg-zinc-900 dark:text-zinc-200;
}

header {
  @apply flex items-center justify-center gap-4 pb-1.5 pt-4;
}

.bg {
  background-image: url(/assets/cs2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 165vh;
  @apply shadow-light dark:shadow-dark;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
